@font-face {
  font-family: "Muthiara";
  src: url("Muthiara.otf");
}

img {
    width: 200px;
    border-radius: 30%
}

.main {
    text-align: center;
    justify-content: center; /*centers L/R */
    align-items: center; /*centers like vertically */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(238, 215, 224);
    color: rgb(110, 32, 75); 
    line-height: 0.8;
    margin: 30px
}

html, body {
    height: 100%; 
}
.container {
    background: white;
    border-radius: 10px;
    margin: 50px auto; /* auto makes the l and r margins equal, 50px = top + bottom */
        /* margin can have up to 4 values: top r bottom L */
    width: 400px;
    padding: 30px;
    box-shadow: 0px 8px 20px rgb(87, 87, 159, 0.5);
    animation: fade 1s ease;
    transition: 0.5s ease;

}

.container:hover {
    transform: rotate(3deg);
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
#welcome {
    margin: 20px;
    margin-top: 80px;
    padding: 2% 20px;
    font-family: 'Muthiara', cursive; 
    font-size: 70px;
    background: linear-gradient(to bottom, rgb(223, 126, 163), rgb(119, 37, 51));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: upDown 3s ease-in-out infinite;
}

@keyframes upDown {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
}

.fun {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(238, 215, 224);
    margin: 30px
}
.big-link {
    font-size: 22px; 
    font-weight: bold 
}
.big-link:hover{
    color:rgb(209, 68, 91)
}
.page{
    font-size: 20px
}
.page:hover{
    color:rgb(209, 68, 91)
}

nav {
    display: flex;
    justify-content: center; /*centers horizontally*/
    margin: 0px;
    gap: 30px;
}

nav a {
    background: rgb(250, 245, 182);
    color: rgb(194, 132, 132);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 100px;
}

nav a:hover {
    transform: scale(1.04);
    background: rgb(228, 121, 121);
}

nav a:active {
    transform: scale(1.08);
}
/* ========= FUN PAGE!!!! ================ */ 
/* gona make backgrounod blue */
.fun {
    background: rgb(215, 235, 255);
    margin: 0;
    padding: 0;
}

.fun-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* align items to the top */
    margin: 0px;
    gap: 80px;
    width: 100%;
    padding: 110px 30px 40px;
    box-sizing: border-box;
}

#fun-title {
    margin: 0px;
    margin-top: 10px;
    font-family: 'Muthiara', cursive; 
    font-size: 45px;
    background: linear-gradient(to bottom, rgb(159, 203, 231), rgb(187, 59, 80));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: upDown 3s ease-in-out infinite;
}

@keyframes upDown {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
}

#cookie {
    width: 350px;
}
#cookie:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#cookie:active {
    transform: scale(1.08);
}

.left {
    width: 45%;
    margin-left: 100px;
}
.cookie-clicker {
    width: 45%;
    margin-right: 100px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    border: 8px dotted white; 
    padding: 30px;
    box-sizing: border-box; /*includes padding + border into total width/height*/ 
}

#quote {
    color: rgb(137, 62, 137);
    min-height: 50px;
    font-size: 18px;
    line-height: 1.3;
    transition: color 1s ease;
}
#home-btn {
    position: fixed;
    top: 30px;
    left: 30px;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background: rgb(195, 126, 155);
    z-index: 2;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s transform;
}

#home-btn:hover { 
    transform: scale(1.05);
    background: rgb(153, 96, 120);
}

.flowers img {
    position: fixed;
    image-rendering: pixelated;
    user-select: none;
    transition: transform 1s ease;
    z-index: 1;
}

.flowers img:hover {
    transform: rotate(360deg) scale(1.4);
    cursor: pointer;
}

#purple-flower {
    width: 100px;
    top: 12%;
    left: 10%;
}

#pink-flower {
    width: 160px;
    top: 30%;
    right: 3%;
}

#purple-flower2 {
    width: 130px;
    bottom: 15%;
    right: 24%;
}

#pink-flower2 {
    width: 180px;
    bottom: 23%;
    left: 20%;
}

/*========== AMAZING FOOD PAGE ============= */

.food-page {
    background: linear-gradient(to bottom, #f1cedb, #fdeef5);
    font-family:'Courier New', Courier, monospace;
    margin: 30px;
}

.food-page h1 {
    font-family: "Muthiara", cursive;
    background: linear-gradient(to bottom, rgb(223, 126, 163), rgb(119, 37, 51));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.food-gallery {
    display: flex; /* LR instead of UD */
    gap: 50px; /*space between items in the parent(so the cards)*/
    overflow-x: auto;
    overflow-y: hidden; 
    padding: 0px 30px; /*0px u/d, 30px l/r INSIDE */
    scroll-behavior: smooth; 
}

.food-gallery::-webkit-scrollbar {
    height: 20px;
    background: #fdeef5;
    border-radius: 20px;
    border: 2px solid white;
}
.food-gallery::-webkit-scrollbar-thumb {
    background: #f7c3d6;
    border-radius: 20px;
    border: 2px solid #fdeef5;
    cursor: grab;
}
.food-card {
    background: white;
    border-radius: 3px;
    margin: 50px auto; /*space AROUND element*/
    color: rgb(172, 95, 108);
    width: 220px;
    padding: 20px 20px 28px 20px; /* space INSIDe element */
    text-align: center;
    flex-shrink: 0; /*prevents from shrinking if no room */
    box-shadow: 0px 8px 20px rgba(159, 87, 134, 0.5);
    animation: fade 1s ease;
    transition: 0.3s ease; /* gotta put it here or else itll only be smooth when i hover */
}

.food-card img {
    width: 100%;
    border-radius: 0;
    height: 300px;
    object-fit: cover; /*crops instead of sstttretching */
}
.food-card:hover {
    transform: scale(1.03) rotate(3deg);
}

#subtitle {
    font-style: italic;
}

/*========DOGGY PAGE ======= */
.dog-page {
    background: rgb(254, 244, 209);
    display: flex;
    margin: 0px;
    width: 100%;
    padding: 60px 30px;
    box-sizing: border-box;
}